[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H fd:// -H tcp://0.0.0.0:{{ docker_port }} --tlsverify --tlscacert={{ cert_dir }}/{{ ca_cert_file}} --tlscert={{ cert_dir }}/{{ server_cert_file }} --tlskey={{ key_dir  }}/{{ server_key_file }}
